<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <section class="intro over">
      <h1><%= archieml.story.title %></h1>
      <img src="./assets/p1.jpg">
      <div class="caption"></div>
        <i><small> Seattle's South Lake Union has seen the effects of Amazon's headquarters:
        new buildings adjacent to massive construction zones. Wherever Amazon decided to
      set their HQ2 will likely see similar changes throuhgout their city. </i></small>
      <div class="byline">
        By <span class="name">Mahir</span>
        <div class="date">Originally published XXXXXX</div>

      </div>
      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.starter) %>
      </div>
    </section>
    <div class="constrained">
    <% archieml.story.sections.forEach(function(section) { %>

        <section class="map-item <%= section.alignment %>" data-filter="<%= section.filter %>">
          <h2><%= section.title %></h2>
          <%= t.renderMarkdown(section.text || "") %>
        </section>

    <% }) %>
      <section class="map-item" data-unlock>
        <h2>See for yourself</h2>
        <button class="unlock"> Lock or Unlock</button>
        Click and zoom the map to see.
      </section>
    </div>
    <div class="map-container">
      <leaflet-map>
        <map-options>
{ "scrollWheelZoom": false }
        </map-options>
        <tile-layer layer="cartoPositron"></tile-layer>
      </leaflet-map>
    </div>

    <section class="outro over">
      <div class="constrained">
        <%= archieml.story.closer %>
      </div>
    </section>

    <script>
window.cityData = <%= JSON.stringify(csv.cities) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
